*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    background-color: black;
    background-image: url('../img/bgimg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    

}
header{
    margin-top: 40px;
    display: flex;
    width: 100%;
    height: 9.305555555555555%;
    /* background-color: blueviolet; */
    justify-content: space-between;
}
.netflixtext{
    margin-top: 20px;
    display: flex;
    gap: 5px;
    max-height: 134px;
    max-width: 30vw;
    align-items: center;
    margin-left: 80px;
}
.netflixavatar{
    display: flex;
    gap: 45px;
    max-height: 134px;
    max-width: 30vw;
    align-items: center;
    justify-content: flex-end;
    margin-right: 80px;
}
.nlogo{
    display: flex;
    align-items: baseline;
    min-width: 156px;
    height: 48px;
    }
.ndate{
   display: flex;
}
.datetext{
    color: #C8C8C8;
    font-family: 'Arvo', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h3::before{                                           
        content: "|";                                        
        display: inline-block;                                                                       
        color: #C8C8C8;
        font-size: 30px; 
                                                                    
}
.searchup{
    display: flex;
    font-size: 33px;
    background-color: transparent;
    border: none;
    color: #FFF;
}
.youravatar{
    max-width: 100px;
    background-color: transparent;
    border: none;
}
.maintext{
    align-items: center;
    /* background-color: darkgreen; */
    width: 100%;
    /* min-height: 910px; */
    max-height: 100%;
}
.strangerthingsmt{
    /* background-color: chartreuse; */
    max-width: 60%;
    max-height: 910px;
    margin-left: 80px;
}
.movietype{
    margin-top: 80px;
    display: flex;
    /* justify-content: flex-start; */
    gap: 11px;
}
.drama01{
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.thriller01{
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.supernatural01{
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.drama01::after{
    content: "|";                                        
    display: inline-block;                                                                       
    color: #FFF;
    font-size: 20px;
}
.thriller01::after{
    content: "|";                                        
    display: inline-block;                                                                       
    color: #FFF;
    font-size: 20px;
}
.bigtext{
    color: #FFF;
    font-family: Inter;
    font-size: 64px;
    /* font-size: 6vw; */
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.52px;
}
.director01{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.director01::before{
    content: "|";                                        
    display: inline-block;                                                                      
    color: #FFF;
    font-size: 20px;
    margin-right: 11px;
}
.movieabout{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 17px;
    width: 100%;
    height: 100%;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.grey{
    color: #A7A6A6;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.seasons01::before{
    content: "|";                                        
    display: inline-block;                                                                      
    color: #FFF;
    font-size: 20px;
    margin-right: 11px;
}
.movieinformation{
    width: 100%;
    height: 100%;
}
.textinfo{
    color: #A7A6A6;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
   font-weight: 400;
   line-height: 141.523%; /* 33.965px */
}
.stars{
    color: gold;
    display: flex;
    gap: 20px;
    max-height: 32px;
    font-size: 28px;
}
.watchbuts{
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.watchnow{
    min-width: 272px;
    max-height: 64px;
    border-radius: 10px;
    border-color: #D40D1F;
    background: #D40D1F;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.streamnow{
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 141.523%; /* 31.135px */
}


.watchall{
    min-width: 272px;
    max-height: 64px;
    border-radius: 10px;
    border-color: #FFF;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
.allepisodes{
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 141.523%; /* 31.135px */
}
.popthisweek{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    max-height: 34px; 
    max-width: 100%;  
}
.textend{
    display: flex;
    align-self: center;
    width: 100%;
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 144.523%; 
    letter-spacing: 2.97px;
}
.buttonsend{
    display: flex;
    gap: 20px;
    
}
.buttonsend button{
 color: #FFF;
}

.buttonfirst{
    display: flex;
    align-items: center;
    max-width: 34.85px;
    max-height: 34.85px;
    border-radius: 16px;
    border-color: #FFF;
    background-color: transparent;
    font-size: 20px;
}
.buttonsecond{
    display: flex;
    align-items: center;
    max-width: 34.85px;
    max-height: 34.85px;
    border-radius: 16px;
    border-color: #FFF;
    background-color: transparent;
    font-size: 20px;
}
.buttonfirst:hover{
    border-color: #A7A6A6;
}
.buttonfirst:first-child:hover{
    color: #A7A6A6;
}
.buttonsecond:hover{
    border-color: #A7A6A6;
}
.buttonsecond:last-child:hover{
    color: #A7A6A6;
}
.films{
    display: flex;
    justify-content: space-between;
    
    /* background-color: deeppink; */
    margin-top: 21px;
    /* max-width: 989px; */
}
.film{

    max-width: 15.2%;


}

.warning{
    display: flex;
    max-width: 174px;
    max-height: 66px;
    position: fixed;
    right: 0;
    bottom: 100px;
}
.firstpartw{
    display: flex;
    align-items: center;
    min-width: 141px;
    background: rgba(255, 255, 255, 0.49);
    order: 2;
    max-height: 66px;
}
.secondpart{
    display: flex;

    min-width: 33px;
    background: #D40D1F;
}
h6{
    margin-left: 15px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 141.523%; /* 33.965px */
}

    @media(max-width:788px){
        .drama01{
            font-size: 19px;
        }
        .thriller01{
            font-size: 19px;
        }
        .supernatural01{
            font-size: 19px;
        }
        .datetext{
            font-size: 15px;
        }
        .warning{
            max-height: 22px;
            max-width: 86px;
            bottom: 250px;
        }
        h6{
            font-size: 16px;
            margin-left: 0px;
        }
        .firstpartw{
            justify-content: flex-start;
            min-width: 30px;
        }
        .secondpartw{
            min-width: 10px;
        }
    }
    @media(max-width:740px){
        .drama01{
            font-size: 19px;
        }
        .thriller01{
            font-size: 19px;
        }
        .supernatural01{
            font-size: 19px;
        }
        .header{
            height: 8%;
        }
        .netflixavatar{
            margin-right: 0px;
        }
        .netflixtext{
            margin-left: 0px;
        }
        .datetext{
            flex-direction: column;
            flex-wrap: nowrap;
        }
        h3::before{
            display: none;
        } 
    }
    @media(max-width:600){
        .header{
            justify-content: center;
        }
        .strangerthingsmt{
            margin-left: 0px;
        }

        .netflixavatar{
            gap: 5px;
            justify-content: flex-start;
        }
    }
    @media(max-width:460px){
        .header{
            height: 4%;
        }
        .drama01::after{
            display: none;
        }
        .thriller01::after{
            display: none;
        }
        
    }