*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color:rgba(0,0,0,0.40);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    background-color: white;
 }
 header{
  padding-top: 65px;
  padding-bottom: 59px;
 }
 .wrapper{
   width: 940px;
   margin: 0 auto;
   overflow: hidden;
   font-size: 0;
 }
 .logo-block, .sosial-block{
    width: 470px;
    display: inline-block;
    font-size: 23px;
    vertical-align: middle;
 }
 .logo-block{
  text-align: left;
 }
 .sosial-block{
  text-align: right;
  text-decoration: none;
 }
 .sosial-block a{
  display: inline-block;
  margin-right: 21px;
  font-size: 80px;
  color: #f806cc;
 }
 .sosial-block a:hover{
  color: rgb(0, 255, 123);
 }

 .sosial-block a:last-child{
  margin-right: 0;
 }
 .info.content-wrapper{
  text-align: center;
 }
 .text-center{
  text-align: center;
 }
 /* main block */
 .main{
  background: #FAC960;
  padding-top: 102px;
  padding-bottom: 117px;
 }
 .content-wrapper{
  width: 806px;
  margin: 0 auto;
 }
 .main h1{
  color: #8A6D2F;
font-size: 44px;
line-height: 54px; /* 122.727% */
margin-bottom: 40px;
 }
 .main input, .main button{
  display: inline-block;
  border: none;
  font-size: 30px;
  line-height: 54px;
  height: 54px;
 }
 .main input{
  padding-left: 0 36px;
  text-align: left;
  border-radius: 2px 0px 0px 2px;
  background-color:  white;
  color: #999 ;
  width: 560px;
 }
 .main button{
  padding-left: 40px;
  padding-right: 34px;
  color: #fff;
  border-radius: 0px 2px 2px 0px;
  background: #A8863D;  
 }
 /* content info */
 h3{
  color: rgba(0, 0, 0, 0.56);
  font-size: 37px;
  line-height: 36px; /* 97.297% */
 }
 p{
color: rgba(0, 0, 0, 0.40);
line-height: 30px; /* 130.435% */
margin: 32px 0;
 }
 .info{
  padding-top: 77px;
  padding-bottom: 81px;
  background-color: #F2F2F2;
 }
 .info p{
  padding-bottom: 24px;
 }
 .mobile{
  padding-top: 88px;
  padding-bottom: 21px;
  background-color: #FFF;
 }
 .share{
  background: #FAC960;
  padding-top: 54px;
  padding-bottom: 107px;
 }
 .share button{
  padding-left: 23px;
  padding-right: 24px;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #758696;
  background: #FFF;
 }
 footer{
  padding: 81px 0;
 }
 .footer-logo{
  margin-bottom: 24px;
  display: inline-block;
 }
 .footer-link{
  display: inline-block;
  text-decoration: none;
  margin-left: 22px;
 }
 .footer-link:first-child{
  margin-left: 0;
 }
 .footer-link img{
  width: 18px;
 }
