body{
    background-color: #ccc;
}
#wrapper{
 width: 1100px;
 height: auto;
 margin: auto;
 background-color: rgb(61, 66, 78);
}
#header{
 width: 100%;
 height: auto;
}
#header img{
    width: 100%;
}
#content{
    width: 80%;
    height: auto;
    margin: 0 10%;
}
#nav{
    width: 200px;
    height: 677px;
    float: left;
    margin-top: 20px;
}
#nav ul{
    height: 515px;
}
#map{
    will-change: 200px;
    height: 225px;
    margin-top: 20px;
}
#map img{
    width: 100%;
    height: 100%;
}
#main{
    width: calc(100% - 200px);
    float: right;
}
#footer{
    clear: both;
    width: 80%;
    margin: 0 10%;
    height: 17px;
    padding-top: 20px;
}
#nav ul, #main-title, .small-card, .big-card,#footer{
    background-color: white;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
ul li:nth-child(n+2){
    padding: 20px auto;
}
ul li:nth-child(n+2):hover{
   background-color: rgb(170, 223, 237);
}
/* selector */
a, a:visited{
    color: black;
    text-decoration: none;
}
table a{
    padding-left: 27px;
    width: auto;
    background-image: url(/08/images/Button.jpg);
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 17px 17px;
}
/* text */
*{
    font-family:'Trebuchet MS';
}
h1{
    padding-left: 20px;
}
h2{
    margin-top: 0;
}
small{
    color: rgb(48, 54, 54);
    font-weight: bold;
    font-size: 60%
}
#footer{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
p{
    height: 100px;
    overflow: hidden;
    text-overflow: clip;
}
/* table */
table{
    border-spacing: 20px;
}
.small-card{
    width: 200px;
    border-bottom: 5px solid #227;
    padding: 0;
    margin: 0;
}
.small-card img{
    width: 205px;
    height: 160px;
}
/* forms */
.big-card{
    padding: 0;
    margin: 0;
}
.big-card img{
    width: 300px;
    float: left;
}
form{
    width: calc(100% - 300px);
    float: right;
}
fieldset{
    border: none;
    padding: 0 20px;
}
legend{
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0;
}
input, select{
    padding-left: 20px;
    background-color: beige;
    border-style: none;
    height: 30px;
    margin-bottom: 20px;
    width: calc(100% - 20px);
}
select{
    width: 100%;
}
input[type=submit]{
    color: rgb(228, 238, 244);
    background-color: rgb(50, 50, 146);
    width: auto;
    padding-left: 27px;
    background-image: url(/08/images/Button-2.jpg);
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 17px;
}